@import "./variables.scss";

@mixin Desktop($width,$height){
    background-color: $White;
    height: $height;
    width: $width;
    display: block;

}

@media only screen and (min-width: $Desktop) {
    

.#{$cont}{
    background-color: $cream;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}



.#{$cont}-table{
    @include Desktop($wideDesk,$largeDesk );
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    &-firstchild{
        text-indent:30px;
        font: { 
            size: $fonSize;
            family: $Family1;
        }
    }
}

.imageDesktop{
    @include Desktop($wideDesk,$largeDesk );
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
}